@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	font-family: 'Balsamiq Sans', cursive, sans-serif;
	color: #000345;
	background-color: #DEF3FD;
	text-align: justify;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	margin: 10px 5px 5px;
	text-align: center;
}
p {
	margin: 5px 10px;
}

.login-form {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(50,50,50,0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-hidden {
	display: none;
}
.login-form-content {
	height: 170px;
	width: 280px;
	background-color: #DEF3FD;
	padding: 10px;
	border-radius: 3%;
}
.login-form-content p {
	text-align: center;
}
#buttons {
	display: flex;
	justify-content: center;
}
#btnLogin {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
	margin-right: 10px;
}
#btnClose {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
}
#btnSubmit {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
}
#poruka {
	margin-top: 10px;
}
.BackToTop {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
	text-decoration: none;
	float: right;
	padding: 5px;
	margin: 0 10px 5px;

}
#username {
	display: flex;
	justify-content: flex-end;
}
#password {
	display: flex;
	justify-content: flex-end;
}
#login-form-username{
	margin: 0 0 5px 5px;
}
#login-form-password {
	margin: 0 0 10px 5px;
}
header {
	background: #DEF3FD;
	display: flex;
	justify-content: space-between;
	padding: 7px;
}
#nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;

}
#nav ul li a {
	display: block;
	text-align: center;
	padding: 0 7px;
	text-decoration: none;
	color: #000345;
}
#hero {
	background: url( "images/hero.jpg") center center / cover no-repeat fixed;
	padding: 200px 0;
}
#kolica {
	background: url("images/kolica.svg") no-repeat;
	width: 20px;
	margin: 0 5px;
}
#headerLeft {
	display: flex;
}
#recepti,
#blog {
	display: flex;
	text-align: left;
}
.btnAwesome {
	margin: 5px;
}
table, tr, td {
	border: 1px solid black;
}
.titleStyle {
	text-align: center;
	margin-bottom: 10px;
}

.hiddenButton {
	display: none;
}
.contentStyle{
}
.containerStyle {
	background: url( "images/pastel4.jpg") center center / cover no-repeat fixed;
	padding: 20px;
	flex-basis: 350px;
	/*height: 200px;
	overflow: hidden;*/
	margin: 20px;
	border-radius: 20px;
}
.blogDivStyle{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.recipeDivStyle{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.componentStyle {
	margin: 5px 0 5px 15px;
}
.btnReadMoreStyle {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
	text-decoration: none;
	float: right;
	padding: 5px;
	margin: 0 10px 5px;
}
.btnToTop {
	margin: 0;
	position: absolute;
	left: 47%;
	top: 30px;
}
#newPostStyle {
	background: url( "images/pastel4.jpg") center center / cover no-repeat fixed;
	padding: 20px;
	width: 400px;
	height: 270px;
	margin: 0 auto;
	border-radius: 20px;
}
#newPostTitleStyle,
#newPostContentStyle {
	display: flex;
	margin-left: 60px;
}
#newPostTitle {
	margin-bottom: 7px;
	margin-left: 10px;
	border-radius: 8%;
}
#newPostContent {
	height: 200px;
	border-radius: 5%;
	margin-bottom: 7px;
	margin-left: 5px;
}
#blogButton {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
	margin: 7px 0 0 170px;
}
#title {
	text-align: center;
}
#newCommentStyle {
	background: url( "images/pastel4.jpg") center center / cover no-repeat fixed;
	padding: 20px;
	width: 400px;
	height: 100px;
	margin-left: 50px;
	border-radius: 20px;
}
#newCommentInput {
	width: 300px;
	height: 70px;
	border-radius: 5%;
	margin-bottom: 7px;
	margin-left: 5px;
}
#newCommentButton {
	background-color: #FFF;
	color: #000345;
	border-radius: 5%;
	font-family: 'Balsamiq Sans';
	margin: 7px 0 0 170px;
}
